body {
    font-family: Arial, sans-serif;
    background: #f2efff;
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 30px 0;
}
.container {
    width: 350px;
    height: 500px;
    padding: 30px;
    max-width: 400px;
    background: #ffffffcc;
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 28px;
    box-shadow: 0 8px 40px rgba(0,0,0,0.15);
    position: relative;
    animation: fadeSlide 0.6s ease-out;
}
p{
    font-size: 11px;
}



h2 {
    margin-top: 10px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.sub {
    margin-top: -5px;
    color: #555;
}
.section-title {
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
}

.input-box {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.input-box input,
.input-box select {
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #cfcfcf;
    font-size: 15px;
    outline: none;
}

.btn {
    width: 100%;
    padding: 14px;
    margin-top: 20px;
    background: linear-gradient(135deg, #a55aff, #8e39e6);
    border: none;
    border-radius: 14px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 6px 18px rgba(155, 77, 227, 0.3);
    transition: 0.2s ease;
}

.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 24px rgba(155, 77, 227, 0.45);
}


.back {
    background: #b18ce9;
}

.social-login {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
}

.social-login img {
    width: 24px;
    height: auto;
    margin: 0 8px;
    cursor: pointer;
    transition: 0.2s;
}

.social-login img:hover {
    transform: scale(1.1);
}

.switch, .forgot {
    text-align: center;
    margin-top: 12px;
}

.switch a, .forgot a {
    color: #9b4de3;
    font-weight: bold;
    cursor: pointer;
}

/* Step indicator */
.step-indicator {
    display: flex;
    justify-content: center;
    margin: 15px 0;
    gap: 10px;
}

.step {
    width: 12px;
    height: 12px;
    background: #d8c9ff;
    border-radius: 50%;
    transition: 0.3s;
}

.step.active {
    background: #9b4de3;
    transform: scale(1.2);
}
.form-step {
    animation: fadeIn 0.4s ease;
}

@keyframes fadeIn {
    from {opacity: 0; transform: translateY(12px);}
    to {opacity: 1; transform: translateY(0);}
}




/* Responsive */
@media (max-width: 480px) {
    .container {
        padding: 22px;
        border-radius: 22px;
    }

    h2 {
        font-size: 20px;
    }

    .btn {
        font-size: 16px;
    }
}


@keyframes fadeSlide {
    from {opacity: 0; transform: translateY(25px);}
    to {opacity: 1; transform: translateY(0);}
}

